
html, body {
  height: 100%;
}

.backgrounds {
  content: '';
  display: block;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;

  &:before {
    background-image: url('/assets/img/bg1.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    min-height: 534px;
    z-index: 0;
  }
  &:after {
    background-image: url('/assets/img/bg2.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    position: absolute;
    min-height: 460px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
}

body {
  background-color: black;
  max-height: 100% !important;
}


header {
  margin-bottom: 3em;

  h1 {
    max-height: 183px;
    width: 100%;
    margin-bottom: 0;
    span { display: none; }
  }
  h2 {
    color: grey;
    font-size: 48px;
    font-weight: 100;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    span { color: light-green; }
  }
  p {
    margin-top: 0;
  }
}

footer {
  text-align: center;
  min-height: 200px;

  p {
    color: blue;
    font-weight: 500;
  }
}


set-indicator-color(background-color, border-color) {
  h3 {
    &:before {
      background-color: background-color;
      box-shadow: 0 0 0 2px border-color;
    }
  }
}

#status {

  h3 {
    color: white;
    font-size: 18px;
    margin-bottom: .6em;
    margin-top: 0;
    padding-bottom: .6em;
    span { color: }

    &:before {
      content: '';
      border-radius: 1000px;
      display: inline-block;
      margin-bottom: 4px;
      margin-right: 10px;
      width: 9px;
      height: 9px;
      vertical-align: middle;
    }
  }

  .servers-list {
    animation: fade .3s;
    opacity: 1;
    text-align: center;
  }

  .online {
    set-indicator-color(green, green);
    &.fast {
      set-indicator-color(green, green);
    }
    &.medium {
      set-indicator-color(gold, gold);
    }
    &.slow {
      set-indicator-color(red, red);
    }
  }

  .offline h3 {
    color: grey;
    &:before { box-shadow: 0 0 0 2px grey; }
  }

}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.grey { color: grey; }


@media medium-up {

  #status {

    .servers-list { text-align: left; }

    h3 {
      font-size: 32px;
      &:before {
        margin-bottom: 7px;
        margin-right: 14px;
        width: 14px;
        height: 14px;
      }
    }
  }
}

small {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 200;
  text-transform: none;
}