
// Brand colors
black                 = #050618;
grey                  = #424360;
blue                  = #8080b1;
dark-blue             = #33364d;
green                 = #35d90e;
light-green           = #408739;
red                   = #d44e49;
dark-red              = #b52d2d;
gold                  = #dfc217;
yellow                = #fff955;
off-white             = #f2f6f6;
white                 = #fff;


// Base font settings
base-font             = 'Jockey One', sans-serif;
base-line-height      = 1.6;
base-font-color       = dark-blue;
base-font-weight      = 600;
base-font-size        = 16px;
base-text-shadow      = 0 1px 0 black;

// Header font settings
header-font           = "Jockey One", sans-serif;
header-font-size      = 2.4em;
header-font-color     = white;
header-transform      = uppercase;
header-weight         = 600;


// Code font settings
code-font             = "Source Code Pro", sans-serif;
code-background-color = dark-blue;
code-font-color       = blue;
code-font-size        = 14px;
code-font-weight      = 800;
code-line-height      = 1.4;
code-border           = 0 2px 0 0 white;
code-comment-color    = rgba(code-font-color, .5);



// Grid settings
total-columns = 12;
row-width = 1000px;
column-gutter = 30px;

// Block grid settings
block-grid-elements = 12;
block-grid-default-spacing = 30px;

// Media Query Ranges
small-range = (0em 60em);
medium-range = min(60.063em, 84em);
large-range = min(84.063em, 100em);

screen = "only screen";

small-up = screen;
medium-up = "screen and (min-width: %s)" % medium-range;
large-up = "screen and (min-width: %s)" % large-range;
